.signin_page {
  background-color: #545557;
  width: 100%;
  height: 100vh;
}

.signin_block {
  background-color: #fff;
  width: 40%;
  height: 80vh;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-top: 50px;
  padding: 20px;
  text-align: center;
}

.signin_block img{
  margin-bottom: 20px;
}

.sign_in_field{
  margin-top: 20px ;
  width: 80%;
  margin: auto;
}


.signin_buttons {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.signin_buttons_button {
  width: 50%;
  margin: auto;
}