apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ingress-service
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/use-regex: 'true'
spec:
  rules:
    - host: pfe.dev
      http:
        paths:
          - path: /api/users/?(.*)
            backend:
              serviceName: auth-ms-srv
              servicePort: 3000
          - path: /api/departements/?(.*)
            backend:
              serviceName: init-ms-srv
              servicePort: 3000
