.rightSection{
  background-color: rgb(162, 162, 162);
  width: 80%;
  text-align: center;
  padding: 50px;
  overflow: scroll;
}

.form_area{
  width: 80%;
  margin: auto;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;  
  padding: 50px;
}



.createUSer_bigTitle {
  font-weight: bold;
  font-size: 3em;
}

.createUser_form{

}

.personnal_infromation_1{
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  margin: 40px auto 40px auto;
}

.personnal_information_2{
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  margin-bottom: 40px;
}

.personnal_information_3{
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  margin-bottom: 40px;
}

.add_user_from_button{
 
  width: 40%;
  margin: auto;
  float: right;
  display: flex;
  justify-content: space-between;
}

.add_user_from_button button {
  width: 40%;
}

.input{
  border: none;
  border-bottom: 2px solid rgb(107, 102, 102);
  border-radius: 2px;
  padding: 2px;
}